{% extends 'base/main.html' %}
{% block content %}
{% load static %}

<!-- header  -->
<header class="container mt-3">
    <div class="text-center">
        <a href="/" class="text-black">
            <h1 class="fs-1 fw-medium">Book<span class="text-danger">Wise</span></h1>
        </a>
    </div>
</header>

{% include 'base/includes/navbar.html' %}

<!-- banner blog  -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'base/images/genre-page.png' %}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<h1 class="text-center text-uppercase mt-5 fs-4">{{genre_name}}</h1>
<!-- section cards boooks  -->
<section class="card-books">
    <div class="content d-flex flex-wrap justify-content-center" id="shop-books">
        {% for book in books %}

        <div class="d-flex gap-1 flex-column">
            <img src="{{book.image.url}}" alt="book">
            <div class="flex flex-column  content-info">
                <h4 class="fw-medium mt-2 mb-0">{{book.title}}</h4>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <i class="far fa-star"></i>
                    <span>{{book.rating}}</span>
                </div>

                <p>{{book.author}}</p>
                <div class="price">${{book.price}}</div>
            </div>
        </div>

        {% endfor %}

    </div>
</section>

{% endblock content %}